/build
/release
/debug
*.apk
*.aab
*.ap_
*.ap-
*.dex
*.class
*.jar
*.keystore
*.jks
*.hprof
*.prof
*.hprof-conv
*.trace
*.npw
*.swp
*.swo
*.lock
*.log
.cxx/
.externalNativeBuild/
.gradle/
.idea/
captured.png
local.properties
.DS_Store
/captures/
.cxx/
.externalNativeBuild/
.gradle/
.idea/
build/
cxx/
externalNativeBuild/
gradle/
idea/
mercurial.ini
mercurial-known-files.hg
mercurial-require.hg
mercurial-tag-map.hg
mercurial-tags.hg
mercurial.orig
mercurial.orig.hg
mercurial.hg
vssver.scc
vssver2.scc
.hg/
.svn/
.git/
vcs.xml
